node_modules/
dist/
.env
.prod.env

# Revision submission files
Muhamad Agus Faisal_musio.zip
Muhamad Agus Faisal_Revisi 1_musio.zip
Muhamad Agus Faisal_Revisi 2_musio.zip
Muhamad Agus Faisal_Revisi 3_musio.zip
Muhamad Agus Faisal_Revisi 4_musio.zip
Muhamad Agus Faisal_Revisi 5_musio.zip
Muhamad Agus Faisal_Revisi 6_musio.zip
Muhamad Agus Faisal_Revisi 7_musio.zip